body {
  font-family: verdana;
  background-color: #FAFAFA;
}

h2 {
  text-decoration: underline;
}

button {
  background-color: #5F237D;
  color: white;
  border-style: none;
  border-radius: 8px;
  height: 40px;
  width: 300px;
}

div p {
  width: 720px;
  font-size: 17px;
  line-height: 1.8;
}

.pageContent {
  margin: 30px;
}

.navbar-default {
  background-color: #F0F0F0;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: #5F237D;
}
